<div class="search-api-autocomplete-suggestion">
    <span class="autocomplete-suggestion-label">
        {{ name.0 }}
        <span class="badge text-bg-light bg-opacity-50 me-2 my-1">Organization</span>
    </span>
</div>