<div class="contextual-region block block-system block-system-menu-blockfooter block--xtra-footer block--system-menu mb-4 ps-1" data-component-id="xtra:block">
  <a href="https://www.washingtoncountyor.gov" aria-label="Washington County, Oregon">
    <img src="/themes/custom/xtra/src/assets/images/wcor-white.svg" alt="Washington County, Oregon" width="100">
  </a>
</div>
