<div class="contextual-region block block-system block-system-menu-blockfooter block--xtra-footer block--system-menu mb-4 ps-1 pt-3" data-component-id="xtra:block">
<p>
  Horizons is maintained by the <a class="text-white" href="https://horizons.washingtoncountyor.gov/directory/departments/enterprise-systems/land-spatial-digital-experience">ITS Digital Experience Team</a>.<br />Please reach out <a class="text-white" href="https://washcoprod.service-now.com/sp?id=sc_cat_item&sys_id=ee431368dba0fb40197c38ff9d961956">with feedback, or to get website support</a>.
</p>
<p>
	© {{ 'now' | date('Y') }} Washington County
</p>
</div>
